.logo {
  height: 40px;
  cursor: pointer;
  @include ff-roboto-bold;

  [role="title"] {
    margin-left: 15px;
    line-height: 40px;
    font-size: 30px;
  }
}

.loginButton {
  cursor: pointer;
  color: $color-brand;
  font-size: 16px;
}

.nav {
  font-size: 0;
}

.navItem {
  margin-left: 60px;
  font-size: 18px;
}
