.footer {
  padding: 30px 0;
  background-color: #000;
  @include ff-roboto-light;
  color: $color-f-brightest;
}

.logo {
  position: relative;
  z-index: 20;
  @include ff-roboto-bold;
  font-size: 22px;
}

.nav {
  position: relative;
  z-index: 20;
  font-size: 0;
}

.navItem {
  margin-left: 20px;
  font-size: 16px;
  color: #fff;

  &:first-child {
    margin-left: 0;
  }
}

.socialsContainer {
  height: 40px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  text-align: center;
}
