$color-bg-darkest             : #000000;
$color-bg-header              : #ffffff;

$color-border-dark            : #999999;
$color-border                 : #e6e6e6;

$color-brand                  : #6930da;

$color-input-placeholder      : #babec7;


// Typography and text colors --------------------------------- /

$color-f-main                 : #000000;
$color-f-main-light           : #262626;
$color-f-main-lighter         : #333333;
$color-f-content              : #303747;
$color-f-main-text            : #424242;
$color-f-comment              : #9b9b9b;
$color-f-disabled             : #aaaaaa;
$color-f-brightest            : #ffffff;
$color-f-danger               : #ff0066;
