$path: 'fonts/roboto/roboto-';


@font-face {
  font-family: 'Roboto Light';
  src: url($path + 'light.eot');
  src: url($path + 'light.eot?#iefix') format('embedded-opentype'),
  url($path + 'light.woff') format('woff'),
  url($path + 'light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url($path + 'regular.eot');
  src: url($path + 'regular.eot?#iefix') format('embedded-opentype'),
  url($path + 'regular.woff') format('woff'),
  url($path + 'regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url($path + 'bold.eot');
  src: url($path + 'bold.eot?#iefix') format('embedded-opentype'),
  url($path + 'bold.woff') format('woff'),
  url($path + 'bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
