.form {
  max-width: 700px;
  margin: 50px auto 0;
}

.radioButton {

  span {
    font-size: 16px;
  }
}

.fields {
  margin-top: 50px;
  padding: 0 50px;
  text-align: center;
}

.passwordInput {
  margin-top: 20px;
}

.submitButton {
  margin-top: 20px;
}
