.link {
  position: relative;
  text-decoration: none !important;
  color: #000 !important;
  @include inline-block;
  @include ff-roboto-light;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: $color-brand !important;
  }
}

.active {
  cursor: default;
  color: #000 !important;

  &:after {
    content: '';
    display: block;
    height: 2px;
    background-color: $color-brand;
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
  }

  &:hover {
    color: #000 !important;
  }
}